@using ShopApp.EntityLayer.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>Categories</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th style="width:30px;">ID</th>
        <th style="width:200px;">Name</th>
        <th>Description</th>
        <th style="width:12px;">Edit</th>
        <th style="width:12px;">Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@Html.Raw(item.Description)</td>
            <td><a href="/Admin/EditCategory/@item.ID" class="btn btn-success">Edit</a></td>
            <td><a href="/Admin/DeleteCategory/@item.ID" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>

<a href="/Admin/CreateCategory/" class="btn btn-primary">New Category</a>
